
:root {
  --green: #00FF00;
  --white: #fff;
  --black: #000;

  --fontColor: var(--black);
  --fontColor: var(--green);

  --bg: var(--white);
  --bg: var(--black);
}

* {
  color: var(--fontColor);
  font-family: Helvetica;
}

body {
  font-family: monospace;
}

ul {
  font-family: Helvetica;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

#msg {
  font-family: monospace;
}

.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
}
